.countdown_form_desktop{
   display:block;
}

.countdown_form_mobile{
   display:none;
}

.counter-holder{
    height: auto;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    margin-top: -24.5px;
    margin-left: -86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .counter-holder a{
     font-size:14px;
     color:white;
     letter-spacing: -0.18px;
     margin-top:10px;
     display:none;
 }

.countdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    /*position: absolute;
    z-index: 4;*/
   /* top: 50%;
    left: 50%;
    margin-top: -24.5px;
    margin-left: -86px;*/
}

.me{
    font-family: 'Monument';
    padding: 8px 8px 8px 8px;
    background: transparent;
    margin-right: 3px;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 23px;
    color: white;
}

.me span{
    font-size: 10px;
    font-family: 'Monument Regular';
    line-height: 10px;
    color: white;
}



.cta-sub-container-fr{
          width:100%;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          padding: 50px 40px;
      }

      .cta-sub-content-fr{
          width:100%;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
      }

      .cta-sub-content-fr h2{
          font-size:22px;
          color:black;
          text-align:center;
          letter-spacing: -0.34px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-transform: uppercase;
      }

      .cta-sub-content-fr p{
          font-size: 62px;
  line-height: 70px;
  text-align: center;
  margin-block-start: 27px;
  font-weight: 300;
  color: black;
  letter-spacing: -0.95px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  
   .inputsub-fr{
      background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 50%;
  height: 52px;
  font-size: 22px;
  color: black;
  font-family:'Monument';
  letter-spacing: -0.34px;
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
   }

   .form-submit-fr{
       font-size:22px;
       color: black;
       background: transparent;
       height: 52px;
       border:none;
       margin-left:35px;
       letter-spacing: -0.34px;
       font-family:'Monument';
       -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }

   .cta-form-fr {
  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.form-container-fr {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 34px;
  max-width:50%;
}

.inputsub-fr::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: black;
opacity: 1; /* Firefox */
}

.inputsub-fr:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: black;
}

.inputsub-fr::-ms-input-placeholder { /* Microsoft Edge */
color: black;
}

  
 .countdown_form_desktop > div > form > div > div:nth-child(1) > div > div > input{ 
    border-bottom: 1px solid black !important;
    padding-left: 0px !important;
    height: 30px !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}

.countdown_form_desktop > div > form > div > div > div:nth-child(2) > button{
   
    height: 30px !important;
    display: flex !important;

}

.countdown_form_desktop > div > form > div > div > div:nth-child(2) > button:hover:after{
    left:14px;
 }

.countdown_form_desktop > div > form > div > div > div:nth-child(2)  > button:after{
   
    content: "\2192" !important;
    position: relative !important;
    font-family: Formular !important;
    font-weight: 500 !important;
    left: 8px;
    transition: .3s ease-in-out !important;
    -webkit-transition: .3s ease-in-out !important;
    top: -0.5px !important;
    -webkit-font-smoothing: antialiased !important;

}

.countdown_form_desktop > div > form > div > div:nth-child(1) > div > div > input::-webkit-input-placeholder { /* Edge */
  color: black !important;
}

.countdown_form_desktop > div > form > div > div:nth-child(1) > div > div > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black !important;
}

.countdown_form_desktop > div > form > div > div:nth-child(1) > div > div > input::placeholder {
  color: black !important;
}

.kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1 .ql-container.ql-container.ql-container p{

   /*letter-spacing:-0.43px !important;
   line-height:34px !important;
   color: black !important;*/

}  
  

@media (max-width: 812px) {
  
  .countdown_form_desktop{
   display:none;
}

.countdown_form_mobile{
   display:block;
}


  .cta-sub-content-fr h2{
          font-size:12px;
      }

      .cta-sub-content-fr p{
          font-size: 30px;
  line-height: 35px;
}
.inputsub-fr{
  width: 100%;
  font-size: 10px;
  height: 19px;
  border-bottom: .5px solid black;
   }
   .form-submit-fr{
       font-size:14px;
       margin-left:0px;
       margin-top:25px;
   }

   .cta-sub-container-fr{
     padding: 50px 20px 0px 20px;
   }
   .cta-form-fr {
  width: 100%;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}
.counter-holder a{
     display:block;
 }

 .countdown_form_mobile>div>form>div>div>div>div>div>.ql-editor p span {
  font-size: 14px!important;
  letter-spacing: -.22px!important;
  line-height: 20px!important;
}

.countdown_form_mobile>div>form>div>div>div>div>div>.ql-editor p  {
  font-size: 14px!important;
  letter-spacing: -.22px!important;
  line-height: 20px!important;
}
  
  
  .countdown_form_mobile > div > form > div > div:nth-child(2){
   
    margin:auto;
   }  
  
   .countdown_form_mobile > div > form > div > div:nth-child(1) > div > div > input{
   
       border-bottom: 1px solid black !important;
    padding-left: 0px !important;
    height: 30px !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
         width: 80%;
    margin: auto;

   }   
  
.countdown_form_mobile > div > form > div  > div:nth-child(2) > div > button:after {
    content: "\2192"!important;
    position: relative!important;
    font-family: Formular!important;
    font-weight: 500!important;
    left: 8px;
    transition: .3s ease-in-out!important;
    -webkit-transition: .3s ease-in-out!important;
    top: -3.5px!important;
    -webkit-font-smoothing: antialiased!important;
    font-size: 12px;
}
  
.countdown_form_mobile > div > form > div > div:nth-child(2) > div > button{
   
    height: 30px !important;
    display: flex !important;

}
  
  
.countdown_form_mobile > div > form > div > div:nth-child(2) > div > button:hover:after{
    left:14px;
 }
  .form-container-fr {

  max-width:100%;
}
}

@media (min-width: 320px) and (max-width: 480px) {
.cta-sub-content-fr h2{
          font-size:12px;
      }

      .cta-sub-content-fr p{
          font-size: 30px;
  line-height: 35px;
}
.inputsub-fr{
  width: 100%;
  font-size: 10px;
  height: 18px;
  border-bottom: .5px solid black;
   }
   .form-submit-fr{
       font-size:12px;
       margin-left:0px;
       margin-top:25px;
       letter-spacing: -0.18px;
       line-height:12px;
   }

   .cta-sub-container-fr{
     padding: 50px 20px 0px 20px;
   }
   .cta-form-fr {
  width: 100%;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.form-container-fr {

  margin-bottom: 24px;
}
}

  .fancybox-content{
      padding:0px;
  }


.countdown_form_desktop > div > form > div > div > div > div > p{
     line-height:inherit;
     margin-block-start: auto;
     
}

.countdown_form_mobile > div > form > div > div > div > div > p{
       margin-block-start: auto;
       line-height: normal;
}

