.exclusive-offer,
.exclusive-offer p,
.sold-out-at-price {
    font-size: 14px;
    letter-spacing: -.22px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4em;
    -moz-osx-font-smoothing: grayscale;
    font-family: Monument, sans-serif;
    text-transform: uppercase;
}

.highlight-price {
    color: rgb(210, 25, 16);
}

@media screen and (max-width: 1024px) {
    .exclusive-offer, .exclusive-offer p {
        font-size: 10px;
        letter-spacing: -.15px;
    }
}

@media screen and (max-width: 767px) {
    .sold-out-at-price {
        font-size: 8px;
    }
}

@media screen and (max-width: 376px) {
    .sold-out-at-price {
        font-size: 7px;
    }
}

