.onlyethical-yarns-container{
    width:100%;
    height:auto;
    position: relative;
    margin-top: 0px;
}

.onlyethical-yarns-content{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0px 0px;
}

.sus_arrow_container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    padding-top: 158px;
    display: none;
}

.sus_arrows {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sus_arr.sus_arr_left {
    padding-left: 15px;
}

.sus_arr.sus_arr_right {
    padding-right: 15px;
}

.oey-left{
    width: 65.6%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding-bottom: 0;
    padding-left: 48px;
    padding-bottom: 10px;
}

.oey-left h2{
    font-family: 'Panama';
    font-size: 62px;
    letter-spacing: -.95px;
    line-height: 62px;
    color: #000;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 42px;
}

.oey-description{
    font-family: 'Monument Regular';
    font-size: 21px;
    letter-spacing: -.32px;
    line-height: 32px;
    color: #000;
    text-align: left;
    max-width: 706px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 22px;
}

.yarntoproduct-container p{
    font-family:'Monument';
    font-size:14px;
    letter-spacing:-0.22px;
    color:black;
    text-align: left;
    text-transform: uppercase;
    max-width:664px;
    line-height: 20px;
    min-height: 40px;
    margin-bottom: 12px;
}

.oey-logo-item{
    min-height: 64px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.oey-logo-container{
    width:100;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}

.oey-logo-container img{
    width:60%;
    margin-top: 0px;
}

.oey-right{
    width: 34.7%;
    aspect-ratio: 4/5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.oey-right img{
    width:100%;
}

.sliders-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #b4bfd6;
}

.eoy-footer{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.eoy-footer h2{
    font-size:22px;
    font-family: 'Monument';
    letter-spacing:-0.34px;
    color:black;
    text-align: center;
}


.meet-the-knitters-footer h2{
font-size:22px;
font-family: 'Monument';
letter-spacing:-0.34px;
color:black;
text-align: center;
}

.eoy-thumb-container{
    width: 100%;
    height: auto;
    position: relative;
    max-width: 530px;
    margin: 0px auto 0px;
    padding: 10px 1px;


margin-left: auto;
margin-right: auto;


}

.eoy-selected-line{
    width:100px;
    height:100px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border:1px solid black;
    margin: auto;
    position: absolute;
    top: -5.9px;
    left: -5.7px;
display:none;
}

.eoy-line {
margin: 10px 0px;
position: relative;

}

.eoy-thumb {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 89px;
   height: 89px;
   overflow: hidden;
   border-radius: 50%;
}


.eoy-thumb img{
    width:100%;
}

.sliderholder {
    padding: 60px 0 60px;
}

.slick-current .eoy-selected-line{
display:block;
}

.col-1{

    width:12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.col-2{

    width:87.5%;
 
}
@media (max-width: 812px) {

    .sliders-container {
        flex-direction: column;
    }

    .sus_arrow_container {
  
        display: block;
    }

    .onlyethical-yarns-container{

        margin-top: 0px;
    }
    .oey-left h2 {
        font-family: 'Panama';
        font-size: 30px;
        letter-spacing: -.46px;
        text-align: center;
        line-height: 30px;
    }

.oey-left p {
    font-size: 14px;
    letter-spacing: -.22px;
    line-height: 20px;
    margin-bottom: 23px;

}

.yarntoproduct-container p {
    font-size: 10px;
    letter-spacing: -.15px;
    line-height: 12px;
    margin-bottom:23px;
    min-height: 48px;
}

.onlyethical-yarns-content {
    flex-direction: column;
    padding:0px;
}

.oey-left {
    width: 100%;
    padding-bottom:0px;
    padding-left: 0px;

}

.oey-right {
    width: 100%;
}

.sliderholder {
    padding: 40px 20px 32px 20px;
}

.oey-logo-container {
    justify-content: center;
    margin-bottom: 23px;
}

.eoy-thumb {
    width: 44.5px;
    height: 44.5px;
}

.eoy-selected-line {
    width: 49.5px;
    height: 49.5px;
    top: -3px;
    left: -2.5px;
}

.eoy-footer h2{
    font-size: 12px;
    color: black;
    letter-spacing: -0.18px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.eoy-line {
    margin: 6px 6px;
    position: relative;
}


.eoy-thumb-container {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    background: #eeeee9;
    padding: 0px 0px 24px 0px;
    position: relative;
    z-index: 4;
}
.oey-logo-container img {
    width: 55%;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.col-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px auto 0px;
}

.col-2{
    width:100%;
}

}


@media (min-width: 320px) and (max-width: 480px) {
    .onlyethical-yarns-container{
        margin-top: 0px;
    }
    .oey-left h2 {
        font-family: 'Panama';
        font-size: 30px;
        letter-spacing: -.46px;
        text-align: center;
        line-height: 30px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-bottom: 33px;
        margin-top: 6px;
    }

.oey-left p {
    font-size: 14px;
    letter-spacing: -.22px;
    line-height: 20px;
    margin-bottom: 23px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 33px;
    max-width:299px; 

}

.yarntoproduct-container p{
    font-size: 10px;
    letter-spacing: -.15px;
    line-height: 12px;
    margin-bottom:23px;
    max-width:293px;
    min-height: 38px;
}

.onlyethical-yarns-content {
    flex-direction: column;
    padding: 0px;
}

.oey-left {
    width: 100%;
    padding-bottom:0px;
}

.oey-right {
    width: 100%;
    padding-right:1px;
    padding-left:1px;
}

.sliderholder {
    padding: 43px 0px 32px;
}

.oey-logo-container {
    justify-content: center;
    margin-bottom: 23px;
    position: relative;
}

.eoy-logo-item{
    text-align: center;
}

.eoy-thumb {
    width: 44.5px;
    height: 44.5px;
}

.eoy-selected-line {
    width: 49.5px;
    height: 49.5px;
    top: -3px;
    left: -2.5px;
}

.eoy-footer{
 margin-top:13px;
 height: 36px;
}

.eoy-footer h2{
    font-size: 12px;
    color: black;
    letter-spacing: -0.18px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.eoy-line {
    margin: 6px 3px 6px 3px;
    position: relative;
}


.eoy-thumb-container {
    margin: 0px auto 0px;
    padding: 0 0px;
    max-width: 100%;
    background: #eeeee9;
    padding: 0px 0px 24px 0px;
}

.oey-logo-item{
    text-align: center;
}

.oey-logo-container img {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 50px;
    object-fit: contain;
}

.oey-logo-item {
    min-height: auto;
    height: 60px;
    position: relative;
    display: block;
}

/*.oey-logo-container:nth-child(4) img {
    width: 86%;
    min-height: auto;
}*/

/*.oey-logo-container {
    width: 100;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}*/

.col-2{
    width:100%;
}

.oey-logo-item {
    min-height: auto;
    height: 60px;

}


}