.tko-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px 40px 5px 40px;
}

div#shopify-section-tko-footer {
  z-index: 3;
}

.footer-left {
  width: 33.3%;
  max-width: 450px;
}

.footer-center {
  width: 33.3%;
}

.footer-right {
  width: 24.3%;
  max-width: 450px;
}

.footer-h2 {
  font-size: 10px;
  color: black;
  font-family: "Monument";
  letter-spacing: -0.22px;
  margin-bottom: 22px;
}

.footer-left p {
  font-family: "Panama";
  font-size: 14px;
  color: black;
  text-align: left;
  line-height: 19px;
  letter-spacing: -0.22px;
}

.footer-center {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: left;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-sign {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
}

#shopify-section-tko-footer,
.footer-sign {
  max-width: 100%;
  overflow-x: hidden;
}

.payment-badge {
  display: flex;
  gap: 2px;
  filter: grayscale(1);
  mix-blend-mode: multiply;
}

.footer-sign p {
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  font-family: "Monument";
  letter-spacing: -0.22px;
}

.footer-menu a {
  font-size: 10px;
  text-transform: uppercase;
  color: #858585;
  letter-spacing: -0.22px;
}

.footer-menu ul li a:hover {
  color: #858585;
}

.social-media-icon ul li a img {
  width: 33px;
}

.social-media-icon ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.social-media-icon li {
  margin-right: 15px;
}

.footer-right form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin: 28px 0px 20px 0px;
}

.input-container {
  width: 100%;
}

.input-container input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  width: 100%;
  color: black;
  margin-bottom: 15px;
  font-family: "Panama";
  font-size: 14px;
  height: 40px;
  letter-spacing: -0.22px;
}

.footer-right form button {
  background: transparent;
  border: none;
  padding: 0px;
  font-size: 10px;
  color: black;
  font-family: "Monument";
  letter-spacing: -0.22px;
}

.input-container input::placeholder {
  color: #858585;
  opacity: 1; /* Firefox */
  letter-spacing: -0.22px;
}

.input-container input:-ms-input-placeholder {
  color: #858585;
  letter-spacing: -0.22px;
}

.input-container input::-ms-input-placeholder {
  color: #858585;
  letter-spacing: -0.22px;
}

.climate-logos {
  width: 100%;
  height: auto;
  margin-top: 44px;
  margin-bottom: 0px;
  margin-left: 18px;
}

.footer-newsletter p {
  font-size: 14px;
  letter-spacing: -0.22px;
  line-height: 18px;
}

.klaviyo-spinner {
  /*visibility: hidden !important;*/
  animation: none !important;
  background: transparent !important;
  top: inherit !important;
  left: inherit !important;
  bottom: inherit !important;
  right: inherit !important;
  margin: unset !important;
  background-color: transparent !important;
  border: none !important;
}

.klaviyo-spinner:after {
  animation: none !important;
  /*display:none !important;*/
  animation: none !important;
  background: transparent !important;
  top: inherit !important;
  left: 8px !important;
  bottom: inherit !important;
  right: inherit !important;
  margin: unset !important;
  background-color: transparent !important;
  border: none !important;
}

.klaviyo-spinner:before {
  animation: none !important;
  animation: none !important;
  background: transparent !important;
  top: inherit !important;
  left: 8px !important;
  bottom: inherit !important;
  right: inherit !important;
  margin: unset !important;
  background-color: transparent !important;
  border: none !important;
  /* display:none !important;*/
}

.footer_form_klaviyo
  > div
  > div
  > form
  > div
  > div:nth-child(1)
  > div
  > div
  > input::-webkit-input-placeholder {
  /* Edge */
  color: rgba(0, 0, 0, 0.45) black !important;
}

.footer_form_klaviyo
  > div
  > div
  > form
  > div
  > div:nth-child(1)
  > div
  > div
  > input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.45) black !important;
}

.footer_form_klaviyo
  > div
  > div
  > form
  > div
  > div:nth-child(1)
  > div
  > div
  > input::placeholder {
  color: rgba(0, 0, 0, 0.45) black !important;
}

.footer_form_klaviyo
  > div
  > div
  > form
  > div
  > div:nth-child(1)
  > div
  > div
  > input {
  border-bottom: 1px solid black !important;
  padding-left: 0px !important;
  height: 40px !important;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
}

.footer_form_klaviyo
  > div
  > div
  > form
  > div
  > div:nth-child(1)
  > div
  > div
  > input:hover {
  border-bottom: 1px solid black !important;
  border-color: black !important;
  padding-left: 0px !important;
  height: 40px !important;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
}

.go1972441457.go1972441457.go1972441457:hover {
  border-color: black !important;
}

.footer_form_klaviyo
  > div
  > div
  > form
  > div
  > div:nth-child(2)
  > div
  > button:after {
  content: "\2192" !important;
  position: relative !important;
  font-family: Formular !important;
  font-weight: 500 !important;
  left: 8px;
  transition: 0.3s ease-in-out !important;
  -webkit-transition: 0.3s ease-in-out !important;
  top: -3.5px !important;
  -webkit-font-smoothing: antialiased !important;
  font-size: 12px;
}

.footer_form_klaviyo
  > div
  > div
  > form
  > div
  > div:nth-child(2)
  > div
  > button:hover:after {
  left: 14px;
}

.footer_form_klaviyo
  > div
  > div
  > form
  > div
  > div:nth-child(2)
  > div
  > button {
  display: flex !important;
  padding-left: 0px !important;
  padding-top: 6px !important;
}

.footer_form_klaviyo
  > div
  > div
  > form
  > div
  > div
  > div
  > div
  > div
  > .ql-editor
  p {
  font-size: 14px !important;
  letter-spacing: -0.22px !important;
  line-height: 20px !important;
}

.footer_form_klaviyo
  > div
  > div
  > form
  > div
  > div
  > div
  > div
  > div
  > .ql-editor
  p
  span {
  font-size: 14px !important;
  letter-spacing: -0.22px !important;
  line-height: 20px !important;
}

@media (max-width: 812px) {
  .footer_form_klaviyo
    > div
    > div
    > form
    > div
    > div
    > div
    > div
    > div
    > .ql-editor
    p {
    font-size: 8px !important;
    letter-spacing: -0.12px !important;
    line-height: 14px !important;
  }

  .footer_form_klaviyo
    > div
    > div
    > form
    > div
    > div
    > div
    > div
    > div
    > .ql-editor
    p
    span {
    font-size: 8px !important;
    letter-spacing: -0.12px !important;
    line-height: 14px !important;
  }

  .footer_form_klaviyo
    > div
    > div
    > form
    > div
    > div:nth-child(1)
    > div
    > div
    > input::-webkit-input-placeholder {
    /* Edge */
    color: rgba(0, 0, 0, 0.45) black !important;
    font-size: 8px !important;
  }

  .footer_form_klaviyo
    > div
    > div
    > form
    > div
    > div:nth-child(1)
    > div
    > div
    > input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.45) black !important;
    font-size: 8px !important;
  }

  .footer_form_klaviyo
    > div
    > div
    > form
    > div
    > div:nth-child(1)
    > div
    > div
    > input::placeholder {
    color: rgba(0, 0, 0, 0.45) black !important;
    font-size: 8px !important;
  }

  .footer_form_klaviyo
    > div
    > div
    > form
    > div
    > div:nth-child(2)
    > div
    > button {
    display: flex !important;
    padding-left: 0px !important;
    padding-top: 5px !important;
    font-size: 8px !important;
  }

  .footer_form_klaviyo
    > div
    > div
    > form
    > div
    > div:nth-child(1)
    > div
    > div
    > input {
    border-bottom: 1px solid black !important;
    padding-left: 0px !important;
    height: 28px !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
  }

  .footer_form_klaviyo
    > div
    > div
    > form
    > div
    > div:nth-child(1)
    > div
    > div
    > input:hover {
    border-bottom: 1px solid black !important;
    border-color: black !important;
    padding-left: 0px !important;
    height: 28px !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
  }

  .footer_form_klaviyo
    > div
    > div
    > form
    > div
    > div:nth-child(2)
    > div
    > button:after {
    content: "\2192" !important;
    position: relative !important;
    font-family: Formular !important;
    font-weight: 500 !important;
    left: 8px;
    transition: 0.3s ease-in-out !important;
    -webkit-transition: 0.3s ease-in-out !important;
    top: -3.6px !important;
    -webkit-font-smoothing: antialiased !important;
    font-size: 8px;
  }

  .footer-left {
    width: 100%;
    max-width: 450px;
  }

  .tko-footer {
    flex-wrap: wrap;
    padding: 10px;
  }
  .footer-menu:nth-child(1) {
    display: none;
  }
  .footer-right {
    width: 50%;
  }

  .footer-h2 {
    margin-bottom: 12px;
  }

  .climate-logos {
    width: 100%;
    height: auto;
    margin-top: 29px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  .climate-logos img {
    /* width:100%;*/
  }
  .footer-sign {
    height: 106px;
    padding-left: 16.5px;
    padding-right: 16.5px;
    flex-direction: column;
    justify-content: center;
  }
  .footer-sign p {
    font-size: 8px;
    letter-spacing: -0.12px;
    line-height: 8px;
    order: 2;
    margin-top: 16px;
  }
  .payment-badge {
    filter: grayscale(1);
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    order: 1;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer-left {
    width: 62%;
    max-width: 450px;
  }

  .input-container input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    width: 100%;
    color: black;
    margin-bottom: 15px;
    font-family: "Panama";
    font-size: 8px;
    height: 25px;
    letter-spacing: -0.12px;
  }

  .input-container input::placeholder {
    color: #858585;
    opacity: 1; /* Firefox */
    letter-spacing: -0.12px;
    font-size: 8px;
  }

  .input-container input:-ms-input-placeholder {
    color: #858585;
    letter-spacing: -0.12px;
    font-size: 8px;
  }

  .input-container input::-ms-input-placeholder {
    color: #858585;
    letter-spacing: -0.12px;
    font-size: 8px;
  }

  .footer-right form button {
    background: transparent;
    border: none;
    padding: 0px;
    font-size: 8px;
    color: black;
    font-family: "Monument";
    letter-spacing: -0.12px;
  }

  .footer-right form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin: 7px 0px 0px 0px;
  }

  .footer-newsletter p {
    font-family: "Panama";
    font-size: 8px;
    color: black;
    text-align: left;
    line-height: 10px;
    letter-spacing: -0.12px;
  }

  .footer-menu a {
    font-size: 8px;
    text-transform: uppercase;
    color: #858585;
    letter-spacing: -0.12px;
    line-height: 20px;
  }

  .footer-left p {
    font-family: "Panama";
    font-size: 8px;
    color: black;
    text-align: left;
    line-height: 10px;
    letter-spacing: -0.12px;
  }

  .tko-footer {
    flex-wrap: wrap;
    padding: 10px;
  }
  .footer-menu:nth-child(1) {
    display: none;
  }
  .footer-right {
    width: 62%;
  }
  .footer-h2 {
    font-size: 8px;
    color: black;
    font-family: "Monument";
    letter-spacing: -0.12px;
    margin-bottom: 15px;
  }
  .climate-logos {
    width: 100%;
    height: auto;
    margin-top: 29px;
    margin-bottom: 12px;
    margin-left: 10px;
  }

  .social-media-icon ul li a img {
    width: 43px;
  }

  .climate-logos img {
    /*width:100%;*/
  }
}
