.tko-main-slider-desktop{
    max-height: calc(100vh - 163px);
    overflow:hidden;
    margin-top: 140px;
  }
    .slider-item-content img{
        width:100%;
    }

    .sic-mobile{
      display:none !important;
    }

 

    .slider-item-content{
       display:flex;
       justify-content: center;
       align-items: center;
       flex-direction: row;
       position: relative;
       max-height: calc(100vh - 163px);
    }

    .slider-action{
      position: absolute;
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 70%;
    }

    .slider-action h1{
        font-size: 62px;
        line-height:70px;
        font-family: 'Panama';
        font-weight: 400;
        letter-spacing: -0.95px;
        margin-block-start: 0px;
         margin-block-end: 0px;
         margin-bottom: 90px;
         margin-top:78px;
    }

    .tko-main-slider .flickity-page-dots .dot {

      margin:0px 13.5px;
 }






.tko-main-slider{
  box-sizing: border-box;
  padding:0px 25px;
  margin-bottom:15px;
}

.tko-main-slider .flickity-page-dots{
  bottom: 29px;
    left: 45px;
    text-align: left;
}

.carousel-cell {
    width: 100%; /* full width */
  
  }
  
  .slider-item{
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
  
    .tko-main-slider-desktop {
      margin-top: 99px;
      padding: 0px 11px;
  }
  
  .slider-action h1 {
      margin-block-start: 0px;
      margin-bottom:24px;
  }
    
  }
  
  @media (max-width: 812px) {
  
    .tko-main-slider {
      padding: 0px 11px 0px 11px;
      margin-bottom: 9px;
  }
  
  .tko-main-slider-desktop {
      margin-top: 101px;
      max-height: calc(100vh - 0px);
  }
  .slider-action h1 {
      font-size: 32px;
      line-height: 35px;
      margin-top:50px;
  }

  .tko-main-slider .flickity-page-dots{
    width:100%;
    bottom: 22px;
      left: unset;
      text-align: center;
  }
  
  }


  @media (min-width: 320px) and (max-width: 480px) {
  

    .sic-mobile{
        display:flex !important;
        aspect-ratio: 5/6.81;
        min-height: 200px;
      }
  
      .sic-desktop{
        display:none;
      }
  
      .slider-action{
      align-items: center;
      justify-content: center;
  
      }
  
      .tko-main-slider{
    padding:0px 0px;
  }
  .slider-action h1 {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 63px;
      margin-top:50px;
  }
  
  .slider-item{
    padding: 0px 6.5px;
  }
  
  .tko-btn {
      font-size: 12px;
      padding: 7px 16px;
      border:0.5px solid;
  }
  

  
  
  
  
  .tko-main-slider .flickity-page-dots .dot {
       width:6px;
       height:6px;
       margin:0px 7px;
       bottom:20px;
  }
  
  
  
  
  .tko-main-slider-desktop {
    margin-top: 94px;
  }
  
  
  
  }

  