.two-column-container{
    width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.two-column{
    width:50%;
}

.cl-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 85px 60px 85px 75px;
}

.cl-right h2{
  font-size:22px;
  letter-spacing: -0.94px;
  color: black;
  text-align: center;

}

.cl-uppercase h2{
text-transform: uppercase;

}




.cl-content h2{
  color:black;
}

.cl-left img{
     width:100%;
}

.cl-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cl-left{
 height: auto;
/* max-height: 966px;*/
}

.image-text{
  flex-direction: row;
}

.text-image{
  flex-direction: row-reverse;
}

@media (min-width: 1600px) and (max-width: 3000px) {

.cl-right{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .cl-right {
    padding: 14px 60px 10px 60px;
}

.cl-content p {
  font-size: 24px;
}
  
}

@media (max-width: 812px) { 
  .cl-right h2{
    font-size:14px;
    font-weight:16px;
    color:black;
    text-align: center;
}
.cl-content p{
    font-size:14px;
    line-height:18px;
    text-align: center;
    color:black;
    letter-spacing: -0.22px;
}
/*.cl-right {
  padding: 30px 12px 1px 12px;
}*/


.two-column-container {
width: 100%;
flex-direction: column-reverse;
}
.two-column {
width: 100%;
}

.image-text{
  flex-direction: column;
}

.text-image{
  flex-direction: column-reverse;
}

}

@media (min-width: 320px) and (max-width: 480px) {
  .cl-right h2{
    font-size:14px;
    font-weight:16px;
    color:black;
    text-align: center;
}
.cl-content p{
    font-size:14px;
    line-height:18px;
    text-align: center;
    color:black;
    letter-spacing: -0.22px;
}
/*.cl-right {
  padding: 30px 12px 1px 12px;
}*/


.image-text{
  flex-direction: column;
}

.text-image{
  flex-direction: column;
}


.two-column-container {
width: 100%;
/*flex-direction: column-reverse;*/
}

.two-column {
width: 100%;
}



.xs-padding{
  padding: 20px 26px;
}

.s-padding{
  padding: 30px 36px;
}

.m-padding{
  padding: 40px 46px;
}

.l-padding{
  padding: 50px 56px;
}

.xl-padding{
  padding: 60px 66px;
}

.no-padding{
  padding: 0px;
}


}