.cta-text-container{
    box-sizing: border-box;
    /*padding:0px 25px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin:18px 0px;
 }  

 .cta-text-content{
     width:100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height:423px; 
 }

 .cta-text-content h2{
     font-size:22px;
     text-transform: uppercase;
     color:black;
     text-align: center;
     font-weight:400;
     letter-spacing: -0.34px;
     line-height:22px;
 }

 .cta-text-content p{
     width:100%;
     font-size:62px;
     font-weight:400;
     color:black;
     text-align: center;
     line-height: 70px;
     margin-left:auto;
     margin-right:auto;
     letter-spacing: -0.95px;
     margin-block-start: 0.7em;
     margin-block-end: 0em;
 }

 .inside-section{
   letter-spacing: -0.22px;
   font-size: 14px; 
   color:black;
   margin-top:46px;
 }

 

 @media (max-width: 812px) {

  .cta-text-content h2 {
    font-size:14px;
    line-height: 16px;
  }

  .cta-text-content p {
    /*font-size:30px;*/
    line-height: 35px;
  }

  .cta-text-content{
    min-height: auto;
  }

  .cta-text-container{
    /*padding: 38px 43px;*/
  }

  .inside-section{
    margin-top:40px;
  }


}

@media (min-width: 768px) and (max-width: 1024px) {
  .cta-text-content h2 {
    font-size:14px;
    line-height: 16px;
  }

  .cta-text-content p {
   /* font-size:27px;*/
    line-height: 32px;
    letter-spacing: -0.42px;
  }

  .cta-text-content{
    min-height: auto;
  }

  .cta-text-container{
   /* padding: 38px 43px;*/
  }
  .inside-section{
    margin-top:40px;
    font-size: 12px; 
    color:black;
    letter-spacing: -0.18px;
    line-height:12px;
  }

}

 @media (min-width: 320px) and (max-width: 480px) {

  .cta-text-content h2 {
    font-size:14px;
    line-height: 16px;
  }

  .cta-text-content p {
    /*font-size:27px;*/
    line-height: 32px;
    letter-spacing: -0.42px;
    margin-top:50px;
  }

  .cta-text-content{
    min-height: auto;
  }

  .cta-text-container{
   /* padding: 38px 43px;*/
  }

  .inside-section{
    margin-top:40px;
    font-size: 12px; 
    color:black;
    letter-spacing: -0.18px;
    line-height:12px;
  }


 }