.exclusive-offer,
.exclusive-offer p,
.sold-out-at-price {
  font-size: 14px;
  letter-spacing: -0.22px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4em;
  -moz-osx-font-smoothing: grayscale;
  font-family: Monument, sans-serif;
  text-transform: uppercase;
}

.highlight-price {
  color: rgb(210, 25, 16);
}

@media screen and (max-width: 1024px) {
  .exclusive-offer,
  .exclusive-offer p {
    font-size: 10px;
    letter-spacing: -0.15px;
  }
}

@media screen and (max-width: 767px) {
  .sold-out-at-price {
    font-size: 8px;
  }
}

@media screen and (max-width: 376px) {
  .sold-out-at-price {
    font-size: 7px;
  }
}

.hint {
  font-size: 16px;
  font-family: "Monument Grotesk", sans-serif;
}

.hint.muted {
  color: rgba(0, 0, 0, 0.5);
}

.body,
.body p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  font-family: "Monument Grotesk", sans-serif;
}

@media screen and (max-width: 767px) {
  .body,
  .body p {
    font-size: 16px;
    line-height: 22px;
  }
}


.label {
    font-family: 'Monument', sans-serif;
    letter-spacing: -0.12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

@media screen and (max-width: 767px) {
  .label {
    font-size: 14px;
  }
}

.fine {
  font-family: 'Monument Regular', sans-serif;
  letter-spacing: -0.12px;
  font-size: 14px;
  line-height: 26px;
}

.fine.muted {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .fine {
    font-size: 12px;
  }
}


