{% if pre_order_message != nil %}
    <div class="pre-order-message">
        <p class="label">{{ pre_order_message }}</p>
    </div>
{% endif %}

<style>
    .pre-order-message {
        color: black;
        text-align: center;
        padding: 8px 24px;
        background-color: rgba(171, 182, 208, 1);
    }

    @media screen and (max-width: 767px) {
        .pre-order-message {
            padding: 4px 24px;
        }
    }

</style>