{% comment %}
  Shopify Wishlist
  Usage:
    - Markup: {%- render 'button-wishlist', product: product -%}
    - Place this snippet inside your existing product card snippet

  Parameters:
    - product: <Shopify product> (required)
{% endcomment %}



{% assign producttype = getproduct %} 

{% assign getdimention = dimention %}
{% assign get_h_width = h_width %}
{% assign get_h_height = h_height %}
{% assign color_heart = color %}
{% assign detectdevice = device %}
{% assign extraClassIt = getClass %}


{%- if product.handle != blank  -%}
  <button type="button" aria-label="Add to wishlist" class="whishlist-btn" button-wishlist data-product-handle="{{ product.handle }}">
    {% render 'icon-heart-lucide' %}
  </button>
{%- endif -%}

<style>
  .whishlist-btn {
    background: rgba(238, 238, 234, 1);
    border-radius: 100px;
    color: black;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 5;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .whishlist-btn.active .fill {
    opacity: 1;
  }

  @media (pointer: fine) {
    .whishlist-btn:hover:not(.active) .fill {
      opacity: .7;
    }
  }

  .whishlist-btn svg {
    transform: translateY(1px);
    width: 22px;
    height: 22px;
  }

  @media screen and (max-width: 767px){
    .whishlist-btn {
      right: 18px;
      top: 17px;
    }


    .whishlist-btn svg {
      width: 20px;
      height: 20px;
      stroke-width: 1.2px;
    }
  }
</style>