<div class="mobile-currency">
    <img
            class="mobile-currency-plus"
            src="https://cdn.shopify.com/s/files/1/0548/6644/4336/files/plus_minus_mini.svg?v=1636977003"
    >
    <div class="doubly-wrapper"></div>
</div>
