<div id="shopify-section-template--23545840763228__static_link_QGrwjw" class="shopify-section">
    <section class="kto-main-container">
        <div class="tko-lines sot-template--23545840763228__static_link_QGrwjw only-top" style="
        border-top-style:  solid;
        border-top-color:   black;
        border-bottom: none;

    ">


            <link href="/assets/component-static-link.css?v=182440097439834352141724933816" rel="stylesheet"
                  type="text/css" media="all">


            {% comment %}<div class="link-container-- container-padding-template--23545840763228__static_link_QGrwjw">{% endcomment %}
                {% comment %}<a class="btn-darrow  " href="{{ routes.account_login_url }}">Don’t let your fave knits slip away — log in to save your wishlist.</a>{% endcomment %}
            {% comment %}</div>{% endcomment %}


        </div>
    </section>


    <style>
        .justheader:after {
            content: '';
        }

        .sot-template--23545840763228__static_link_QGrwjw {
            padding: 20px 0px 20px 0px;
            /*border-width: 1px;*/

        }

        .mxwidth-template--23545840763228__static_link_QGrwjw {
            max-width: px;
        }

        .mxwidth-header-template--23545840763228__static_link_QGrwjw {
            max-width: px;
        }

        .container-padding-template--23545840763228__static_link_QGrwjw {
            padding: 20px 0px 20px 0px;
        }

        @media (min-width: 320px) and (max-width: 480px) {
            .sot-template--23545840763228__static_link_QGrwjw {
                padding: 20px 0px 20px 0px;
                border-width: 0.5px;
            }

            .mxwidth-template--23545840763228__static_link_QGrwjw {
                max-width: px;
            }

            .mxwidth-header-template--23545840763228__static_link_QGrwjw {
                max-width: px;
            }

            .container-padding-template--23545840763228__static_link_QGrwjw {
                padding: 20px 0px 20px 0px;
            }
        }
    </style>
</div>